@keyframes mymove {
    /* 0% {
        color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        color: plum;
        left: 0px;
        top: 0px;
    }
    50% {
        color: blue;
        left: 200px;
        top: 0px;
    }
    75% {
        color: green;
        left: 0px;
        top: 0px;
    }
    100% {
        color: yellow;
        left: 0px;
        top: 0px;
    } */
}